.contacts {
    border: none;
    border-bottom: 5px solid var(--main-color);
}

.contacts-blok {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 100px;
}

.contacts-blok__section {

}

.contacts-blok__section img {
    width: 150px;
    height: 100px;
}

.contacts-blok__section__container {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.contacts-blok__section__container-part {
    
}

.contacts-blok__section__container-part a {
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition: .5s;
}

.contacts-blok__section__container-part a:hover {
    opacity: .7;
}

.contacts-blok__section__container-part__icon {
    color: #000;
}

.contatcs-blok__section__container-part__p1 {
    font-weight: bold;
}

.contatcs-blok__section__container-part__p2 {
    font-weight: bold;
    color: var(--main-color);
}

@media (max-width: 768px) {
    .contacts-blok {
        padding: 20px 10px;
    }
    .contacts-blok__section h1 {
        font-size: 150%;
    }
}