.contacts2 {
    background-image: url('/public/images/about-bg.png');
}

.contacts2-blok {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts2-blok__section {
    width: 50%;
}

.contacts2-blok__section iframe {
    filter: grayscale(80%);
}

.contacts2-blok__section-2 {
    padding: 50px 20px;
}

.contacts2-blok__section__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts2-blok__section-2 p {
    font-size: 90%;
    color: var(--main-color);
    font-weight: bold;
}

.contacts2-blok__section-2 h1 {
    color: var(--blue-color);
}

.contacts2-blok__section__form-part {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.contacts2-blok__section__form-part input {
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 15px;
    font-size: 105%;
    outline-color: var(--main-color);
    border-radius: 5px;
}

.contacts2-blok__section__form-part textarea {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--border-color);
    padding: 15px;
    font-size: 105%;
    outline-color: var(--main-color);
    min-height: 20vh;
    max-height: 20vh;
    border-radius: 5px;
}

.contacts2-blok__section__form button {
    background-color: var(--main-color);
    color: #fff;
    transition: .5s;
    cursor: pointer;
    font-size: 105%;
    padding: 15px;
    border: none;
    border-radius: 5px;
}   

.contacts2-blok__section__form button:hover {
    background-color: var(--blue-color);
}

@media (max-width: 768px) {
    .contacts2-blok {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .contacts2-blok__section {
        width: 100%;
    }

    .contacts2-blok__section-2 h1 {
        font-size: 180%;
    }
}