.contacts1 {
    padding: 50px 20px;
}

.contacts1 h1 {
    text-transform: uppercase;
    font-size: 250%;
    color: var(--blue-color);
    text-align: center;
    margin-bottom: 50px;
}

.contacts1-blok {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contacts1-blok__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts1-blok__section a {
    text-decoration: none;
}

.contacts1-blok__section__image {
    margin-bottom: 20px;
}

.contacts1-blok__section__image img {
    width: 60px;
    height: 60px;
}

.contacts1-blok__section__p1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--main-color);
}
.contacts1-blok__section__p2 {
    color: var(--text-color);
    margin-bottom: 5px;
}
.contacts1-blok__section__p3 {
    color: var(--main-color);
    margin-bottom: 20px;
}
.contacts1-blok__section__p4 {
    color: var(--text-color);
    font-style: italic;
    text-align: center;
    max-width: 200px;
}

@media (max-width: 768px) {
    .contacts1 h1 {
        font-size: 180%;
    }
}