.footer {
    background-image: url('/public/images/footer-bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--landing-color);
    height: 10vh;
    padding: 0 10px;
}

.footer-blok {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.footer-blok p span {
    color: #fff;
    font-weight: bold;
}

.footer-blok p a {
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    color: #fff;
}

.footer-blok p a:hover {
    opacity: .7;
}

.footer-blok__container {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.footer-blok__container a {
    text-decoration: none;
    color: var(--landing-color);
    transition: .5s;
}

.footer-blok__container a:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .footer {
        font-size: 80%;
    }

    .footer-blok {
        gap: 20px;
    }
}