.section {
    padding: 50px 100px;
}

.section h1 {
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    max-width: 480px;
    font-size: 260%;
    color: var(--blue-color);
}

.section-blok {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.section-blok__section {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #f8fafb;
    width: 400px;
    min-height: 300px;
}

.section-blok__section h2 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.section-blok__section__image {
    margin-bottom: 20px;
}

.section-blok__section__image img {
    width: 60px;
    height: 60px;
}

.section-blok__section__footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.section-blok__section__footer__p1 {
    color: var(--text-color);
    font-size: 105%;
    max-width: 250px;
}

.section-blok__section__footer__p2 {
    font-size: 300%;
    opacity: .1;
    color: var(--main-color);
    transition: .5s;
    font-weight: bold;
}

.section-blok__section:hover .section-blok__section__footer__p2 {
    opacity: 1;
}

@media (max-width: 768px) {
    .section {
        padding: 20px 10px;
    }

    .section h1 {
        font-size: 180%;
    }

    .section-blok {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-blok__section {
        max-width: 400px;
        width: 100%;
    }


    .section-blok__section__footer__p2 {
        font-size: 250%;
    }

}