.video {
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url('/public/images/video-bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    padding: 0 20px;
}

.video-blok p {
    color: var(--landing-color);
}

.video-blok h1 {
    font-size: 250%;
    color: #fff;
    text-transform: uppercase;
    max-width: 580px;
}

.video-blok__player {
    width: 70px;
    height: 70px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    transition: .5s;
    cursor: pointer;
}

.video-blok__player:hover {
    opacity: .5;
}

.video-blok__player__icon {
    width: 25px;
    height: 25px;
    color: #fff;
    margin-left: 5px;
}

.video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.video-modal__content {
    position: relative;
    width: 90%;
    max-width: 800px;
}

.video-modal video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.video-modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.video-modal__close:hover {
    color: #f00;
}


@media (max-width: 768px) {
    .video-blok h1 {
        font-size: 180%;
        color: #fff;
        text-transform: uppercase;
        max-width: 580px;
    }
    
    .video-blok__player {
        width: 50px;
        height: 50px;
        background-color: var(--main-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        transition: .5s;
        cursor: pointer;
        display: flex;
        margin: auto;
        margin-bottom: 10px;
    }

    .video-blok__player__icon {
        width: 20px;
        height: 20px;
        color: #fff;
        margin-left: 5px;
    }
}