.orders {
    margin-top: 30px;
}

.orders-blok {
    display: flex;
    flex-direction: column;
}

.orders-blok__section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--text-color);
}

.orders-blok__section-1 {
    padding-bottom: 30px;
    color: var(--main-color);
}

.orders-blok__section-part__main {
    width: 20px;
}

.orders-blok__section-part__product {
    width: 300px;
    padding: 15px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7px;
}

.orders-blok__section-part__product img {
    width: 100px;
    height: 60px;
    object-fit: cover;
}

.orders-blok__section-part__product p {

}

.orders-blok__section-part__price {
    width: 100px;
}

.orders-blok__section-part {
    width: 70px;
}

.orders-blok__section-part__end {
    width: 20px;
}

@media (max-width: 768px) {
    .orders-blok {
        font-size: 80%;
    }
    .orders-blok__section-part__product img {
        width: 80px;
        height: 50px;
        object-fit: cover;
    }
}